.searchbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar {
    height: 42px;
    width: 568px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px 0 0 12px;
  }
  
  .searchicon {
    background-color: white;
    border: 1px solid black;
    height: 42px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  
  .searchbar button icon {
    height: 20px;
    width: 20px;
  }
  
  @media (max-width: 577px) {
    .searchbar {
      width: 70vw;
    }
  
    .searchbar input {
      width: 500px;
      padding: 0;
    }
  }